@font-face {
    font-family: 'Norse';
    src: url('./yuru/norse/Norse.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    
}
@font-face {
    font-family: 'Norse';
    src: url('./yuru/norse/Norsebold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    font-family: 'Norse', sans-serif;
    color: black;
    border: 1px solid red;
    
    
}

#container {
    display: flex;
    height: 100vh;
    overflow: hidden;

}

.logo {
    position: relative;
    width: 36%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('leave copy.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    
}

.logo_image {
    
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    
}

.logo_image img{
    height: 30%;
    width: 30%;
}

.logo_image span {
    color: aliceblue;
    font-size: 3rem;
    font-weight: bold;
}

.link {
    
    color: white;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
    
}

.link a {
    color: white;
}

.kkk {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.text {
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    color: #111827;
    background-color: #f9fafb;
}

.text p {
    margin-bottom: 20px;
}

form {
    background-color: white;
}

form h2 {
    font-size: 2rem;
    color: #1f2937;
    padding: 0 50px;
    margin-bottom: 20px;
}

.main_font {
    background-color: white;
    padding: 10px 30px;
    display: flex;
    gap: 20px 40px;
    margin-bottom: 30px;
    max-width: 700px;

}

.font {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 250px;
}

.font label {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #4b5563;

}

.font input {
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1rem;
    padding: 3px 5px;
}

.btn {
    padding: 0 50px;
}

.btn button {
    background-color: #596d48;
    color: white;
    padding: 12px 45px;
    border: 1px solid #465638;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 25px;
}

.btn button:hover {
    background-color: #465638;
}

.btn p {
    color: #1f2937;
    font-size: 1rem;
    margin-bottom: 38px;
}

.btn a{
    color: #596d48;
    font-weight: bold;
}

.btn a:hover{
    text-decoration: underline;
    
}

